[submodule ".github/workflows"]
	path = .github/workflows
	url = https://github.com/Blaklis1/job/
[submodule "test"]
	path = test
	url = https://gitlab.com/lightsource/front-blocks.git
[submodule "test2"]
	path = test2
	url = https://gitlab.com/lightsource/front-blocks.git
